@keyframes fade-delete {
  0% {
      opacity: 1;
      max-width: 100%;
  }
  75% {
      opacity: 0;
      max-width: 100%;
  }
  100% {
      opacity: 0;
      max-width: 0;
  }
}

@keyframes fade-insert {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.app-title {
  color: #111;
  padding-bottom: 25px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 15vw;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center; 
}

.article-animate-delete {
  animation-name: fade-delete;
  animation-duration: 1.1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.article-animate-insert {
  animation-name: fade-insert;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
}


#article-description {
  font-size: 20px;
  font-style: italic;
  height: 50px;
}

body {
  padding-top: 50px;
  background: rgb(174,208,238);
  background: radial-gradient(circle, rgba(174,208,238,1) 9%, rgba(8,78,158,1) 100%);  
}

.button-outline {
  border: 0 !important;
}

#card-body {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.card-body-titles {
  text-decoration: dashed;
  font-style: oblique;
  font-weight: lighter;
  text-align: center;
}

.card-header-footer {
  border-radius: 10px !important;
}

.card-icons {
  padding: 15px 10px 15px 10px;
  user-select: none;
  cursor: pointer;
}

#card-whole {
  border-radius: 15px;
  box-shadow: 5px 5px 20px black;
}

.container-space {
  margin-bottom: 30px;
}

#empty-search {
  font-style: oblique;
  padding-top: 50px;
}

.fake-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fake-link:hover {
  text-decoration: underline;
  color: #4d7ae3;
}

.icons-footer {
  padding-right: 45px;
}

.login-buttons {
    box-shadow: 5px 5px 20px black;
    border-radius: 30px !important;
    margin-top: 15px;
    margin-bottom: 25px;
}

p {
  color: #685206;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

.radio-button-label {
  margin-right: 20px;
}

#search-container {
  position: relative;
}

#search-input {
  padding-right: 35px;
}

#search-reset {
  position: absolute;
  right: 20px;
  top: 20%;
}

#search-reset:focus {
  background-color: unset;
  outline-color: white;
  box-shadow: none;
  opacity: .5;
}

#search-reset:hover {
  background-color: unset;
  opacity: .5;
}


#url-link {
  padding: 20px;
}