.copy-hide-buttons {
  padding: 15px 10px 15px 10px;
  user-select: none;
}

#copy-button {
cursor: copy;
}

#card-whole {
  border-radius: 15px;
  box-shadow: 5px 5px 20px grey;
}

#card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}


#hidepassword-button {
  cursor: pointer;
}

#search-container {
  position: relative;
}

#search-reset {
  position: absolute;
  right: 20px;
  top: 20%;
}

#search-input {
  padding-right: 35px;
}

#search-reset:hover {
  background-color: unset;
  opacity: .5;
}

#search-reset:focus {
  background-color: unset;
  outline-color: white;
  box-shadow: none;
  opacity: .5;
}

.fake-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fake-link:hover {
  text-decoration: underline;
  color: #4d7ae3;
}