body {
  background: rgb(174,208,238);
  background: radial-gradient(circle, rgba(174,208,238,1) 9%, rgba(48,129,223,1) 100%);  
}

#app-title 
  { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 15vw; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }


.card-icons {
  padding: 15px 10px 15px 10px;
  user-select: none;
  cursor: pointer;

}

.card-header-footer {
  border-radius: 10px !important;
}

.card-body-titles {
  text-decoration: dashed;
  font-style: oblique;
  font-weight: lighter;
}


.icons-footer {
  padding-right: 45px;
}


#card-whole {
  border-radius: 15px;
  box-shadow: 5px 5px 20px black;
}

#card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

#empty-search {
  font-style: oblique;
}

#search-container {
  position: relative;
}

#search-reset {
  position: absolute;
  right: 20px;
  top: 20%;
}

#search-input {
  padding-right: 35px;
}

#search-reset:hover {
  background-color: unset;
  opacity: .5;
}

#search-reset:focus {
  background-color: unset;
  outline-color: white;
  box-shadow: none;
  opacity: .5;
}

#url-link {
  padding: 20px;
}

.fake-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fake-link:hover {
  text-decoration: underline;
  color: #4d7ae3;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

.container-space {
  margin-bottom: 30px;
}

.radio-button-label {
  margin-right: 20px;
}
